# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from .._types import NOT_GIVEN, Body, Query, Headers, NotGiven
from .._compat import cached_property
from .._resource import SyncAPIResource, AsyncAPIResource
from .._response import (
    BinaryAPIResponse,
    AsyncBinaryAPIResponse,
    StreamedBinaryAPIResponse,
    AsyncStreamedBinaryAPIResponse,
    to_custom_raw_response_wrapper,
    to_custom_streamed_response_wrapper,
    async_to_custom_raw_response_wrapper,
    async_to_custom_streamed_response_wrapper,
)
from .._base_client import make_request_options

__all__ = ["AccountsHeldResource", "AsyncAccountsHeldResource"]


class AccountsHeldResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AccountsHeldResourceWithRawResponse:
        return AccountsHeldResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AccountsHeldResourceWithStreamingResponse:
        return AccountsHeldResourceWithStreamingResponse(self)

    def list(
        self,
        bank_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> BinaryAPIResponse:
        """
        <p>Get Accounts held by the current User if even the User has not been assigned the owner View yet.</p><p>Can be used to onboard the account to the API - since all other account and transaction endpoints require views to be assigned.</p><p>optional request parameters:</p><ul><li>account_type_filter: one or many accountType value, split by comma</li><li>account_type_filter_operation: the filter type of account_type_filter, value must be INCLUDE or EXCLUDE</li></ul><p>whole url example:<br />/banks/BANK_ID/accounts-held?account_type_filter=330,CURRENT+PLUS&amp;account_type_filter_operation=INCLUDE</p><p>Authentication is Mandatory</p>

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not bank_id:
            raise ValueError(f"Expected a non-empty value for `bank_id` but received {bank_id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return self._get(
            f"/obp/v5.1.0/banks/{bank_id}/accounts-held",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BinaryAPIResponse,
        )


class AsyncAccountsHeldResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncAccountsHeldResourceWithRawResponse:
        return AsyncAccountsHeldResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncAccountsHeldResourceWithStreamingResponse:
        return AsyncAccountsHeldResourceWithStreamingResponse(self)

    async def list(
        self,
        bank_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> AsyncBinaryAPIResponse:
        """
        <p>Get Accounts held by the current User if even the User has not been assigned the owner View yet.</p><p>Can be used to onboard the account to the API - since all other account and transaction endpoints require views to be assigned.</p><p>optional request parameters:</p><ul><li>account_type_filter: one or many accountType value, split by comma</li><li>account_type_filter_operation: the filter type of account_type_filter, value must be INCLUDE or EXCLUDE</li></ul><p>whole url example:<br />/banks/BANK_ID/accounts-held?account_type_filter=330,CURRENT+PLUS&amp;account_type_filter_operation=INCLUDE</p><p>Authentication is Mandatory</p>

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not bank_id:
            raise ValueError(f"Expected a non-empty value for `bank_id` but received {bank_id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return await self._get(
            f"/obp/v5.1.0/banks/{bank_id}/accounts-held",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=AsyncBinaryAPIResponse,
        )


class AccountsHeldResourceWithRawResponse:
    def __init__(self, accounts_held: AccountsHeldResource) -> None:
        self._accounts_held = accounts_held

        self.list = to_custom_raw_response_wrapper(
            accounts_held.list,
            BinaryAPIResponse,
        )


class AsyncAccountsHeldResourceWithRawResponse:
    def __init__(self, accounts_held: AsyncAccountsHeldResource) -> None:
        self._accounts_held = accounts_held

        self.list = async_to_custom_raw_response_wrapper(
            accounts_held.list,
            AsyncBinaryAPIResponse,
        )


class AccountsHeldResourceWithStreamingResponse:
    def __init__(self, accounts_held: AccountsHeldResource) -> None:
        self._accounts_held = accounts_held

        self.list = to_custom_streamed_response_wrapper(
            accounts_held.list,
            StreamedBinaryAPIResponse,
        )


class AsyncAccountsHeldResourceWithStreamingResponse:
    def __init__(self, accounts_held: AsyncAccountsHeldResource) -> None:
        self._accounts_held = accounts_held

        self.list = async_to_custom_streamed_response_wrapper(
            accounts_held.list,
            AsyncStreamedBinaryAPIResponse,
        )
